**/bin/
**/obj/
**/[Dd]ebug/
**/[Rr]elease/

.git/
.github/
.vscode/
.idea/

tests/
*.md
LICENSE

appsettings.Development.json
appsettings.*.local.json
.env

Dockerfile
.dockerignore
docker-compose*.yml
